//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
  scroll-behavior: smooth;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 600;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient($border-color 0%, $border-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(
      rgba($link-color, 0.45) 0%,
      rgba($link-color, 0.45) 100%
    );
    background-size: 1px 1px;
  }
}

.gallery a {
  background-image: none;

  &:hover {
    color: $link-color !important;
    background-image: none;
  }
}

code {
  font-family: $mono-font-family;
  font-size: 0.75em;
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  min-width: 100px;
  width: 17%;
  height: auto;
  margin: 10px 8px;
  border-radius: 12px;
  border: 0px;
  box-shadow: 0 2px 5px 1.5px rgba(204, 204, 204, .4);
  transition: all 0.3s;
  transition-timing-function: ease;
  vertical-align: top;
}

img:hover{
  transform: translate(0, -6px);
  box-shadow: 0 2px 5px 1.5px rgba(204, 204, 204, .6);
}

.thumbnail-wrapper {
  width: 17%; 
  max-width: 100%;
  min-width: 100px;
  aspect-ratio: 375 / 812; 
  overflow: hidden; 
  float:left;
  margin: 10px 8px;
  border-radius: 12px;
  border: 0px;
  box-shadow: 0 2px 5px 1.5px rgba(204, 204, 204, .4);
  transition: all 0.3s;
  transition-timing-function: ease;
  vertical-align: top;
}

.thumbnail-wrapper:hover{
  transform: translate(0, -6px);
  box-shadow: 0 2px 5px 1.5px rgba(204, 204, 204, .6);
}

.longimg{
  width:100%; 
  overflow: hidden;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  transition: none;

}

.longimg:hover{
  transform: none;
  box-shadow: none;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}
